<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>

  <h1><%= title %></h1>
  <a href="/books/new">Add a new book</a>

  <ul>
  <% if (books.length) { %>
  <% books.forEach(book => { %>
    <li ><%= book.name %>
    <form 
     action="/books/<%= book._id %>?_method=DELETE"
     method="post"
     style="display: inline-block;"
     >
    <button type="submit">Delete</button>
    </form>
    </li>
  <% }) %>
  <% } else { %>
  <h2> There are no books yet </h2>
<% } %>
</ul>

</body>
</html>